certifi==2025.1.31
charset-normalizer==3.4.1
cramjam==2.9.1
duckdb==1.2.1
et-xmlfile==2.0.0
fastparquet==2024.11.0
fsspec==2025.3.0
idna==3.10
iniconfig==2.0.0
jinja2==3.1.6
joblib==1.4.2
lxml==5.3.1
markupsafe==3.0.2
numpy==2.2.3
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pluggy==1.5.0
pyarrow==19.0.1
pytest==8.3.5
python-dateutil==2.9.0.post0
pytz==2025.1
pyyaml==6.0.2
requests==2.32.4
ruff==0.9.10
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
threadpoolctl==3.5.0
tqdm==4.67.1
tzdata==2025.1
urllib3==2.6.0
-e file:///Users/alexlee/Desktop/Coding/wb3/whereabouts
